p {
  color: red;
  font-size: 50px;
}

/*class is stronger effect than Public Element*/
.one{
  color: blue;
}

.one{
    font-size: 20px;
}

/*latest style is the stronger effect than all above*/
.one{
    font-size: 100px;
}

.two{
    color: magenta;
}

#three{
    color: brown;
    font-weight: bold;
}